<!--------------------------------------------------------------------------------------------------------------------->
<!-- list.vue -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
  <div class="item-list">
    <b-container class="list-contain border border-dark mt-2 mb-2" fluid>
      <b-input-group>
        <b-list-group v-if="cleanData" flush>
          <b-list-group-item
              v-for="item in cleanData"
              :key="item.listId"
              class="d-flex"
          >
            <div class="indiv-items">
              <b-col cols="4" class="indiv-col mt-2 ml-2 float-left">
                  <h5 class="list-id">List ID {{ item.listId }}
                    <span class="count-btn badge-warning badge-pill ml-2">{{ item.countNames }}</span>
                  </h5>
              </b-col>
              <b-col cols="8" class="indiv-col float-right">
                <h5>Item Names</h5>
                    <p class="name-list">{{ item.itemName }}</p>
              </b-col>
            </div>
          </b-list-group-item>
        </b-list-group>

        <div v-else class="text-center mt-2">
          No items record.
        </div>
      </b-input-group>
    </b-container>
  </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->
<style lang="scss" scoped>
.item-list {
  .list-contain {
    max-width: 95%;
    max-height: 95%;
    .indiv-items {
      display: flex;
      align-content: center;

      .indiv-col {
        text-align: center;
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        .list-id {

          float: left;
        }

        .count-btn {
          padding-top: 0.3em;
          padding-bottom: 0.3em;
          font-size: 1.1rem;
          color: black;
          min-width: 28px;
          text-align: center;
        }

        .name-list {
          float: right;
          text-align: left;
        }
      }
    }
  }
}
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
//--------------------------------------------------------------------------------------------------------------------
import _ from 'lodash';

// Managers
import itemMan  from '../server/manager/itemMan';
//--------------------------------------------------------------------------------------------------------------------
export default {
  name: 'List',
  data()
  {
    return {
      items: undefined,
      fields: ['listId', 'name'],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      totalPages: 0
    }
  },
  computed: {
    cleanData()
    {
      let formattedData = []

      _.chain(this.items)
          .filter('name')
          .sortBy('listId')
          .map((item) =>
          {
            if(_.find(formattedData, { listId: item.listId }))
            {
              const index = _.findIndex(formattedData, { listId: item.listId });
              formattedData[index].itemName.push(item.name);
              formattedData[index].countNames += 1;
            }
            else
            {
              formattedData.push(
                  {
                    listId: parseInt(item.listId),
                    itemName: [ item.name ],
                    countNames: 1
                  }
              )
            }

            return formattedData;
          })
          .forEach((formattedData) =>
          {
            _.map(formattedData, (data) =>
            {
              // lodash sortBy was not working within the object
              return data.itemName.sort(function(a,b) {
                const aSplit = parseInt(a.split(" ")[1]);
                const bSplit = parseInt(b.split(" ")[1]);
                return aSplit - bSplit;
              });
            })
          })
          .value();

      return formattedData;
    }
  },
  methods: {
    fetchData()
    {
      return itemMan.getAll()
          .then((results) =>
          {
            this.items = results.data;
          });
    },
  },
  created() {
    this.fetchData();
  }
}
</script>

<!--------------------------------------------------------------------------------------------------------------------->
